/* HEADER */

header {
    position: relative;
    width: 100dvw;
    height: var(--headerSize);
    background-color: var(--primary);
    display: flex;
    align-items: end;
    justify-content: center;
    box-shadow: var(--shadow);
}

header::before {
    content: '';
    position: absolute;
    width: 50dvw;
    height: 30px;
    bottom: -30px;
    border-radius: 0 0 20px 20px;
    background-color: var(--primary);
    box-shadow: var(--shadow);
    z-index: 0;
}

header li {
    list-style: none;
}

header #logo.activated {
    filter: grayscale(100%);
}

header #logo {
    position: absolute;
    width: var(--headerSize);
    height: var(--headerSize);
    left: 10px;
    filter: grayscale(0%);
    top: calc(var(--headerSize) / 4 - 8px);
    z-index: 6;
    cursor: pointer;
}

header .search {
    width: 450px;
    height: 50px;
    background-color: var(--background);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

header .search input {
    width: 385px;
    height: 40px;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    letter-spacing: 1px;
    background: transparent;
}

header .search img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

header #account {
    position: absolute;
    right: 20px;
    top: 20px;
    filter: drop-shadow(var(--shadow));
}

header #account section.activated {
    width: 250px;
    height: auto;
    min-height: 300px;
    padding: 25px;
    opacity: 1;
}

header #account section {
    position: absolute;
    right: 0px;
    top: 55px;
    width: 0px;
    height: 0px;
    min-height: 0px;
    padding: 0px;
    opacity: 0;
    background-color: #474747;
    border-radius: 20px;
    color: #e4e4e4;
    box-shadow: var(--shadow);
    letter-spacing: .5px;
    z-index: 100;
    transition: .3s;
    overflow: hidden;
}

header #account section ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 40px;
}

header #account section ul li {
    cursor: pointer;
}

header #account section ul li.logout {
    color: #000000;
    text-align: right;
    font-weight: bold;
    letter-spacing: 1px;
}

header #btn-filtro {
    position: absolute;
    right: 70px;
    top: 20px;
    filter: drop-shadow(var(--shadow))
}

.icon {
    width: 25px;
    height: 25px;
}

header #menu.activated {
    top: 75px;
    height: calc(100dvh - 75px);
    background: linear-gradient(60deg, var(--pink), var(--primary) 70%);
    box-shadow: 10px 0 20px #1d1d1134;
}

header #menu.activated li {
    opacity: 1;
}

header #menu {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    display: grid;
    align-items: end;
    justify-content: center;
    text-align: center;
    width: 250px;
    height: 70px;
    padding: 0 50px 50px 50px;
    overflow: hidden;
    background: linear-gradient(60deg, var(--pink), var(--primary));
    border-radius: 0 0 10px 0;
    transition: .3s;
}

header #menu li {
    opacity: 0;
}

header #menu li a {
    text-decoration: none;
    color: #1d1d1d;
    font-size: 1.2rem;
}

header #menu #menuInfo.activated {
    display: block;
}

header #menu #menuInfo {
    display: none;
    width: inherit;
    height: inherit;
    text-align: right;
    place-content: center;
    margin-right: 20px;
    color: #fff;
    cursor: pointer;
}

header #btn-filtro-mobile {
    display: none;
    filter: drop-shadow(var(--shadow));
}

section.account-mobile {
    width: inherit;
    height: 180px;
    background-color: var(--purple);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    text-shadow: var(--shadow);
}

#menu li.noActivated, #menu section.noActivated {
    display: none;
}

@media(max-width: 1000px) {
    header::before {
        width: 40dvw;
    }

    header .search {
        width: 300px;
    }
    
    header .search input {
        width: 285px;
    }

    header .search img {
        width: 30px;
        height: 30px;
    }
}

@media(max-width: 845px) {
    header::before {
        width: 380px;
        right: 0;
    }

    header .search {
        position: absolute;
        right: 60px;
        top: 10px;
    }
    
    header .search input {
        width: 285px;
    }

    header .search img {
        width: 30px;
        height: 30px;
    }

    header #btn-filtro {
        display: none;
    }

    header #btn-filtro-mobile {
        display: block;
    }
}

@media(max-width: 630px) {
    header::before {
        display: none;
    }
    
    header .search {
        width: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        z-index: 7;
    }
    
    header .search input {
        width: 0px;
    }
    
    header .search img {
        position: relative;
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }
    
    header .search:hover {
        width: 300px;
        border-radius: 25px;
    }
    
    header .search:hover > input {
        width: 285px;
    }
}

@media(max-width: 350px) {
    header #menu #menuInfo, header #menu #menuInfo.activated, header #account, header #btn-filtro {
        display: none;
    }

    header #menu {
        padding: 50px 50px 0 50px;
    }

    section.account-mobile {
        display: flex;
    }

    header #menu.activated {
        background-color: var(--purple);
    }
    
    header #menu {
        width: 100dvw;
        background-color: transparent;
        opacity: 1;
    }

    header .search {
        right: 10px;
    }

    header .search:hover {
        width: calc(100dvw - 20px);
    }
    
    header .search:hover > input {
        width: calc(100dvw - 25px);
    }

    header #btn-filtro-mobile {
        margin-left: calc(50dvw - 15px);
    }
}

/* MAIN */

main {
    width: 100dvw;
    height: calc(100dvh - var(--headerSize));
    background-color: var(--background);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    overflow: hidden auto;
}

main::-webkit-scrollbar {
    background-color: rgb(230, 230, 230);
    width: 15px;
}
main::-webkit-scrollbar-thumb {
    background-color: var(--purple);
}

main #filtro.activated {
    display: block;
}

main #filtro {
    position: fixed;
    width: 90dvw;
    max-width: 1000px;
    min-height: 150px;
    background-color: var(--beige);
    border-radius: 5px;
    box-shadow: var(--shadow);
    border: .8px solid var(--pink);
    margin: 0px 0 50px 0;
    z-index: 4;
    display: none;
}

main #filtro legend {
    margin-left: 20px;
    font-size: .9rem;
    letter-spacing: 2px;
}

main #filtro #filtro-close {
    position: absolute;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}

main #products {
    width: 100dvw;
    min-height: 10px;
    padding: 20px;
    box-shadow: var(--shadow);
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

main .product {
    width: 200px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding:  0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

main .product img {
    width: inherit;
}

main .product h1 {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: .6px;
}

main .product p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 10px;
}

main .product p img {
    width: 20px;
    cursor: pointer;
}

main .product p img:hover {
    opacity: .7;
}





#body-dialog {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100dvw;
    height: 100dvh;
    background-color: #0005;
    backdrop-filter: blur(4px);
    z-index: 2000;

    display: grid;
    align-items: center;
    justify-content: center;
}

#body-dialog span {
    min-width: 200px;
    width: 100dvw;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--background);
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    gap: 20px;
}

#body-dialog span p, #body-dialog span h1  {
    padding: 20px;
}

#body-dialog span #buttons {
    height: 50px;
    min-width: 200px;
    width: 100dvw;
    max-width: 400px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

#body-dialog span #buttons button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: var(--shadow);
    flex-grow: 1;
    flex-basis: 150px;
}

#body-dialog span #buttons button.success {
    background-color: var(--green);
}

#body-dialog span #buttons button.warn {
    background-color: var(--pink);
}

#body-dialog span #buttons button.info {
    background-color: var(--primary);
}