/* GLOBAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,h2,h3,h4,h5,h6, p {
    cursor: default;
}

:root {
    --background: #eee;
    --primary: rgb(133,188,193);
    --green: rgb(203, 250, 190);
    --pink: rgb(255, 175, 184);
    --purple: rgb(183,190,216); 
    --beige: rgb(245,229,216);
    --orange: rgb(236,193,176);
    --shadow: 0 10px 10px #1d1d1d1c;

    --headerSize: 70px;
}

.container {
    width: 100dvw;
    height: 100dvh;
    background-color: var(--background);
    overflow: hidden;
}

/* HEADER */

header {
    position: relative;
    width: 100dvw;
    height: var(--headerSize);
    background-color: var(--primary);
    display: flex;
    align-items: end;
    justify-content: center;
    box-shadow: var(--shadow);
}

header::before {
    content: '';
    position: absolute;
    width: 50dvw;
    height: 30px;
    bottom: -30px;
    border-radius: 0 0 20px 20px;
    background-color: var(--primary);
    box-shadow: var(--shadow);
}

header li {
    list-style: none;
}

header #logo {
    position: absolute;
    width: var(--headerSize);
    height: var(--headerSize);
    left: 10px;
    top: calc(var(--headerSize) / 4 - 8px);
    z-index: 1;
    cursor: pointer;
}

header .search {
    width: 450px;
    height: 50px;
    background-color: var(--background);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

header .search input {
    width: 385px;
    height: 40px;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    letter-spacing: 1px;
    background: transparent;
}

header .search img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

header #account {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 10px;
    top: 15px;
}

header #account:hover {
    opacity: .7;
}

header #menu.activated {
    top: 75px;
    height: calc(100dvh - 75px);
    background: linear-gradient(60deg, var(--pink), var(--primary) 70%);
    box-shadow: 10px 0 20px #1d1d1134;
}

header #menu {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: center;
    width: 250px;
    height: 70px;
    overflow: hidden;
    background: linear-gradient(60deg, var(--pink), var(--primary));
    border-radius: 0 0 10px 0;
    transition: .3s;
}

header #menu #menuInfo.activated {
    display: block;
}

header #menu #menuInfo {
    display: none;
    width: 180px;
    text-align: right;
    color: #fff;
    cursor: pointer;
}

@media(max-width: 1000px) {
    header::before {
        width: 40dvw;
    }

    header .search {
        width: 300px;
    }
    
    header .search input {
        width: 285px;
    }

    header .search img {
        width: 30px;
        height: 30px;
    }
}

@media(max-width: 845px) {
    header::before {
        width: 380px;
        right: 0;
    }

    header .search {
        position: absolute;
        right: 60px;
        top: 10px;
    }
    
    header .search input {
        width: 285px;
    }

    header .search img {
        width: 30px;
        height: 30px;
    }
}

@media(max-width: 630px) {
    header::before, header .search {
        display: none;
    }
}

@media(max-width: 315px) {
    header #menu #menuInfo, header #menu #menuInfo.activated {
        display: none;
    }

    header #menu.activated {
        background-color: var(--purple);
    }
    
    header #menu {
        width: 100dvw;
        background-color: transparent;
        opacity: 1;
    }
}

/* MAIN */

main {
    width: 100dvw;
    height: calc(100dvh - var(--headerSize));
    background-color: var(--background);
    display: flex;
    justify-content: center;
    padding: 50px;
}

main .search.mobile {
    width: calc(100dvw - 100px);
    height: 50px;
    background-color: #fff;
    border-radius: 25px;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    box-shadow: var(--shadow);
}

main .search.mobile input {
    width: calc(100dvw - 115px);
    height: 40px;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    letter-spacing: 1px;
    background: transparent;
}

main .search.mobile img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

main #filtro {
    width: 100dvw;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 5px 20px #1d1d1d25;
    border: none;
}

@media(max-width: 630px) {
    main .search.mobile {
        display: flex;
    }
}

@media(max-width: 380px) {
    main .search.mobile {
        width: 90dvw;
    }
    main .search.mobile input {
        width: inherit;
    }
    main .search.mobile img {
        display: none;
    }
}